Repository aviv82/practice-code-review, pull requests merged in 2022-02, with the labels that each got.

#4 Difference2: strategies list: Set/ reduce/ filter/for loop
  src/difference/alina/sandbox.js
  src/difference/difference.spec.js
  src/sort-numbers/example-built-in-sort/sort-numbers.spec.js
Labels: group-challenge, deliverables

#7 split object/strategy: find keys
  src/split-object/alina/sandbox.js
  src/split-object/split-object.spec.js
Labels: group-challenge, deliverables

#9 update main branch with master
  src/difference/alina/sandbox.js
  src/difference/difference.spec.js
  src/sort-numbers/example-built-in-sort/sort-numbers.spec.js
  src/split-object/alina/sandbox.js
  src/split-object/split-object.spec.js
Labels: documentation

#8 sort numbers: strategies list: sort/ pop up/ insert/Math.min
  src/sort-numbers/alina/sandbox.js
  src/sort-numbers/alina/sort-numbers.spec.js
Labels: group-challenge, deliverables, sort, pop up, insert

#10 setup difference solution
  src/difference/alina/solution-difference.js
  src/difference/difference.spec.js
Labels: group-challenge, deliverables, difference

#11 adding difference readme
  src/difference/README.md
Labels: deliverables, difference
